<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=Utf-8">
        <script type="text/javascript" src="{{url_for('static', filename='js/qrcode.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/sample.js') }}"></script>
        <title>QR Code for JavaScript</title>
    </head>

    <body onload="update_qrcode()">
        <form>
            <textarea name="msg" rows="10" cols="40">{{ returned_stuff }}</textarea>
            <br/>
            <input type="button" value="update" onclick="update_qrcode()"/>
            <div id="qr"></div>
        </form>
    </body>

</html>


